<section class="section-notes">
    <div class="container-header-notas">
        <form class="add-note" id='form-add' action="/notes/new-note" method="POST">

            <div class="">
                <input type="text" id="form-add-false" name='title' class="" autocomplete="off"
                    placeholder="Añade una nota...">
            </div>

            <div id="form-add-description" class="input-note">
                <textarea name="description">Contenido</textarea>
            </div>
            <div id="form-add-button" class="container-button">
                <button type="submit" class="add-button">Añadir</button>
                <input type="button" id="close-form" class="add-button close-form" value="X">
            </div>

        </form>
    </div>
    <div class="container-section-notes">
        <div class=""></div>

        <div class="notes">

            {{#each notes}}
            <div class="note">
                <div class="">
                    <h4 class="">{{title}}
                        <div class="">
                            <button class="container-options">
                                <i class="fa fa-circle" aria-hidden="true"></i>
                                <i class="fa fa-circle" aria-hidden="true"></i>
                                <i class="fa fa-circle" aria-hidden="true"></i>
                            </button>
                            <div class="container-options-buttons">
                                <form action="notes/delete/{{_id}}?_method=DELETE" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="delete">Eliminar</button>
                                </form>
                                <a href="notes/edit/{{_id}}"> <button type="" class="edit">Editar</button></a>
                            </div>
                        </div>
                    </h4>
                    <p>{{description}}</p>
                    <!-- <form action="notes/delete/{{_id}}?_method=DELETE" method="POST">
                            <input type="hidden" name="_method" value='DELETE'>
                            <button type="submit">Delete </button>
                        </form> -->
                </div>
            </div>
            {{/each}}


        </div>
    </div>

</section>